@import 'tailwindcss';

:root {
  --background: #051516;
  --foreground: #fff;
  --primary: #235347;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  
  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-poppins: var(--font-poppins);
  --font-overpass: var(--font-overpass);
  --font-lora: var(--font-lora);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
}
